<ion-content [fullscreen]="true">
  
  <!-- Contenedor para los botones de autenticación -->
  <div class="auth-buttons">

    <!-- Título de la app -->
    <div class="header-content">
      <h1>VoiceApp!</h1>
      <p>byAxel</p>
    </div>
    

    <!-- Botón de inicio de sesión con Google -->
    <ion-button (click)="loginWithGoogle()" class="custom-button">
      <img src="assets/resources/googleCircleWhite.svg" alt="GoogleIcon" class="auth-icon"/>
      Iniciar sesión con Google
    </ion-button>

    <!-- Botón de inicio de sesión con GitHub -->
    <ion-button (click)="loginWithGithub()" class="custom-button">
      <img src="assets/resources/githubWhite.svg" alt="GitHubIcon" class="auth-icon"/>
      Iniciar sesión con GitHub
    </ion-button>
    
  </div>
</ion-content>
