

/* Contenedor del spinner */
.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
  
/* Contenedor del spinner y el texto */
.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;  /* Asegura que esté fijo en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Estilo del spinner */

  
/* Estilo del texto "Cargando..." */
.loading-text {
margin-top: 10px;
font-size: 18px;
color: mediumturquoise;  /* Color azul */
font-weight: bold;
}